:root {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  tab-size: 4;
  font-size: 16px;
  line-height: 1;
  font-family: $en-canela;
  color: $color-black;
  cursor: default;
  min-width: 320px;
  @include tablet-p {
    font-size: 15px;
  }
  @include mobile-p {
    font-size: 14px;
  }
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}
*,
:after,
:before {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  background-color: $color-white;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
button {
  all: unset;
  cursor: pointer;
}
a {
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
ol {
  list-style: none;
}

html.scroll-stop {
  overflow-y: hidden;
}

::selection {
  background-color: #c8c8c8;
}
